root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{js,ts,json,cjs,mjs,tsx}]
indent_style = tab
trim_trailing_whitespace = true
tab_width = 4

[*.json]
tab_width = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2
